/*CSS Reset*/
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	/* border: 0; */
	}

/* remember to define focus styles! */
:focus {
	outline: 0;
	}
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    border:1px solid grey;
}

/*General Styles*/
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;  /* < the only property you dont need to add units to */
    color: #4f4f4f;
    font-family: 'Roboto Mono', monospace;
}
h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 5rem;
}

section {
    padding: 4% 0;
}

a {
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

/* Header section Styles */
nav {
    padding: 2% 0;
}

nav a {
    display: inline-block;
    width: 12%;
    padding: .5% 0;
    border-radius: 13px;
    text-align: center;
    color: #fff;
    line-height: 1.2;
}

.orange {
    background-color: #FF764E;
    margin-left: 10%;
}

.blue {
    background-color: #5ED3EB;
    margin: 0 20%;
}

.yellow {
    background-color: #FFCD69;
    margin-right: 10%;
}

/*top section styles*/
.top {
    position: relative;
}

.left, .right{
    display: inline-block;
    text-align: center;
}

.left {
    width: 30%;
}

.left img {
    border-radius: 50%;
    width: 80%;
}

.right {
    width: 55%;
    margin-bottom: ;
    margin-left: 5%;
    position: absolute;
    top: 45%;
}

.mainBody {
    color: white;
    background-color: #DDB9A3;
    margin: 0 3%;
    padding: 0;
}

.mainBody p {
    text-align: center;
    font-size: 2rem; /* edit this */
    padding: 1% 2%;
}

.icons {
    padding: 0;
}

.icons .bold {
    font-weight: bold;
}

.icons img {
    width: 10%;
    margin: 2% 45% 0;
}

.icons p {
    text-align: center;
    font-size: 1.3rem;
    margin: 0 40% 0;
}

.imageContainer {
    padding: 5% 0 0;
}

.image {
    height: 25vh;
    background-image: url(assets/footer_img.jpg);
    background-position: 0vh -7vh;
}

footer {
    background-color: #F9E7DC;
    padding: 0;
}